
/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .5;
    fill: red;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align: left;           
	width: 120px;                  
	height: 60px;                 
	padding: 2px;             
	font: 18px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 3px;           
	pointer-events: none;         
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1px;
    margin: 0px;
}

.nav-tabs {
    margin-bottom: 0;
}


